:root{
    --Primary-Sea:#1255E1;
    --Primary-Brand:#213E7F;
    --Primary-Cloud:#FFFFFF;
    --Primary-Sky:#E1EBF5;
    --primary-grey:#e2e2e2;
    --Primary-Carbon-10:#EDEDED;
    --Primary-Carbon-20:#A5A5A5;
    --Primary-Carbon-60:#4C4C4C;
    --Primary-Carbon-40:#7F7F7F;
    --Primary-Carbon-100:#000000;
}
/* styles nav */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: var(--primary-grey);
}
nav{
    display: flex;
    width: 100%;
    min-width: 360px;
    height: 56px;
    background-color: var(--Primary-Cloud);
}
nav .container-nav__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100;
    padding: auto 24px;
}
nav .container-nav__text{
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 1rem;

}
.nav-contaier{
    box-sizing: border-box;
    width: 168px;
    height: 24px;
    margin: 16px 40px;
    padding-top: 5px;
    color: var(--Primary-Sky);
    background-color: var(--Primary-Sea);
}
nav .container-nav__text .nav-contaier p{
    display: inline;
    margin-left: 5px;
}
/* styles header */
.container-header{
    width: 100%;
    min-width: 360px;
    height: 104px;
    margin-top: -20px;
    text-align: center;
    background-color: var(--Primary-Brand);
    background-image: url('../../assets/img/Group\ 6.png');
    background-repeat: no-repeat;
}
.container-header__p{
    padding-top: 40px;
    font-size: 2rem;
    color: var(--Primary-Sky);
}
.container-header__p .gft{
    font-weight: 700;
    font-size: 3rem ;
}
.container-header__p img{
    padding: 0 5px;
}
/* menu slider */
.container-main{
padding:0 20px;
}
.slider-section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    height: 35px;
    margin-top: 30px;
    border-bottom: 2px solid var(--Primary-Carbon-10);
}
.slider-section__ul{
    display: flex;
    width: 80%;
    padding-left: 0;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--Primary-Carbon-20);
}
.slider-section__ul li{
    width: 120px;
    height: 20px;
    padding:  0 10px;
    text-align: center;
}
.slider-section__ul li:hover{
    color: var(--Primary-Sea);
    border-bottom: 4px solid var(--Primary-Sea);
}
.slider-section__ul li:focus{
    color: var(--Primary-Sea);
    border-bottom: 2px solid ;
}
.container-header__bar{
    display: grid;
    width: 100%;
    height: 3px;
    background-color: var(--Primary-Cloud);
}
/* styles cards  */
.container-cards{
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color: var(--Primary-Cloud);
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--Primary-Carbon-20);
}
.container-info__perfil{
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 16px 16px 0;
}
.info-perfil__img{
    width: 48px;
}
.info-perfil-texto{
    width: 60%;
}
.info-perfil__name{
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--Primary-Carbon-60);
}
.info-perfil__date{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    margin-top: 0;
    color: var(--Primary-Carbon-40);
}
.container-like{
    display: flex;
    width: 72px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--Primary-Sea);
    border: 2px solid var(--Primary-Sea);
}
.love{
    display: flex;
    width: 72px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: var(--Primary-Cloud);
    background-color: var(--Primary-Sea);
}
.icon-like-img{
    width: 19px;
    height: 17px;
}
.blue{
    background-image: url('../../assets/icons/corazon.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.white{
    background-image: url('../../assets/icons/Vector.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.counter-like_num{
    margin-left: 5px;
}
.container-text{
    padding: 0 16px;
}
.container-text__h2{
    font-size: 1.8rem;
    font-weight: 700;
}
.container-text__p{
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 400;
}
.container-footer{
    display: flex;
    width: 100%;
    height: 40px;
    padding: 0 10px;
}

.container-footer p{
    height: 15px;
    margin-right: 3px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--Primary-Carbon-60);
    background-color: var(--Primary-Carbon-10);
}